# =========================
# Python
# =========================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


# =========================
# PyCharm
# =========================

.idea/

# =========================
# Project specific files
# =========================

.mayaSwatches/


# =========================
# Maya configs
# =========================
*_filerules.txt
*.deleted
*.log
filePathEditorRegistryPrefs.mel
mainWindowStates/
Maya_Classic.json
MayaInterfaceScalingConfig
mayaLog
MayaTabletConfig
menu_ChangePanelLayout.mel
menu_ChangePanelType.mel
menu_ChangeSelectionMask.mel
menu_CommonModelingPanes.mel
menu_ControlPaneVisibility.mel
menuSetPrefs.mel
MTKShelf.mel
pluginPrefs.mel
presets/
projects/
renderNodeTypeFavorites
RSTemplates/
scriptEditorTemp/
shelf_XGen.mel
synColor/
synColorConfig.xml
synColorConfig.xml.lock
synColorFileRules.xml
user.toolclips/
userColors.mel
userPrefs_panelConfig.mel
userPrefs_recents.mel
userPrefs.mel
userRGBColors2.mel
windowPrefs.mel
workspaces/
